:root {
    --gradient: linear-gradient(223deg, #FFD9D1 2.77%, #7042D2 27.03%, #000 48.7%);
    --primary-color: #4C00FF;
}

*, *::before, *::after {
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border: none;
}

h1, h2 {
    font-family: "KPMGBold";
}

h3, h4, p, label, button, span, caption, th, td {
    font-family: "Univers";
    font-weight: 400;
    font-size: 16px;
}

@font-face {
  font-family: 'KPMGBold';
  src: url("./lib/assets/fonts/KPMG-BOLD.TTF") format("truetype");
}

@font-face {
  font-family: 'Univers';
  src: url("./lib/assets/fonts/UNIVERSFORKPMG.TTF") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Univers';
  src: url("./lib/assets/fonts/UNIVERSFORKPMG-BOLD.TTF") format("truetype");
  font-weight: 700;
}